body {
    padding-top: 75px;
}

.box-shadow {
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.05),
                0 4px 8px 0 rgba(0,0,0,.05);
}

.uppercase {
    text-transform: uppercase;
}

.icone {
    height: 100px;
}

#home-quote {
    background: url(../img/bg-quote.jpg) no-repeat center center;
    background-size: cover;
    background-attachment: fixed;
}

/* Inicio zoom imagem dentro da div */

.item-expand {
    position: relative;
    overflow: hidden;
}

.img-expand {
    max-width: 100%;
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}
  
.img-expand:hover {
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

/* Fim zoom imagem dentro da div */

.lista-plano li + li {
    border-top: 1px solid rgba(0,0,0,.2);
}

.lista-plano li {
    padding: 1rem;
}

@media(max-width: 767px) {
    #home-quote .display-4 {
        font-size: 2.5rem;
    }

    body {
        padding-top: 0;
    }

    .fixed-top {
        position: relative;
    }
}